.top-offset
	.container
		h1
			span.fa.fa-envelope
			| &nbsp;&nbsp;Contact
		.row.text-left.col-bottom
			.col-sm-6.col-md-3
				a(href="https://www.linkedin.com/pub/dominic-liu/92/290/b23", target="_blank")
					span.fa.fa-linkedin-square.fa-2x
					span.align-to-icon &nbsp;&nbsp;&nbsp;Dominic Liu
			.col-sm-6.col-md-3
				a(href="mailto:dom@decisiveme.com", target="_blank")
					span.fa.fa-envelope-square.fa-2x
					span.align-to-icon &nbsp;&nbsp;&nbsp;dom@decisiveme.com
			.col-sm-6.col-md-3
				a(href="https://www.facebook.com/dominic.liu.5688", target="_blank")
					span.fa.fa-facebook-square.fa-2x
					span.align-to-icon &nbsp;&nbsp;&nbsp;Dominic Liu
			.col-sm-6.col-md-3
				a(href="https://twitter.com/domliu1", target="_blank")
					span.fa.fa-twitter-square.fa-2x
					span.align-to-icon &nbsp;&nbsp;&nbsp;@domliu1
		sp
		sp
		| <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://my.ctrlq.org/maps/#roadmap|13|43.462407659374016|-80.52294435234829"></iframe>