.carousel-container
	#background-carousel.carousel.slide(data-ride='carousel')
		// Indicators
		ol.carousel-indicators
			li.active(data-target='#background-carousel', data-slide-to='0')
			li(data-target='#background-carousel', data-slide-to='1')
			li(data-target='#background-carousel', data-slide-to='2')
		// Wrapper for slides
		.carousel-inner(role='listbox')
			.item.active
				.fill(style="background-image:url('/images/background/IMG_9247.jpg')")
				.carousel-caption
					span Photography: Valley in the Clouds
					sp
			.item
				.fill(style="background-image:url('/images/background/IMG_3408.jpg')")
				.carousel-caption
					span Photography: New Town Hall
					sp
			.item
				.fill(style="background-image:url('/images/background/IMG_9250_1.jpg')")
				.carousel-caption
					span Photography: The Green Valley
					sp
		// Controls
		a.left.carousel-control(data-target='#background-carousel', role='button', data-slide='prev')
			span.fa.fa-chevron-left(aria-hidden='true')
			span.sr-only Previous
		|   
		a.right.carousel-control(data-target='#background-carousel', role='button', data-slide='next')
			span.fa.fa-chevron-right(aria-hidden='true')
			span.sr-only Next
.outer
	.middle
		.inner
			.portrait(style="background-image: url(/images/dom.jpg)")
			.big-name
				div#vivus(vivus="")
				p
					span
						| Web Developer
						span.slash /
						| Graphic Designer
						span.slash /
						| Filmmaker
			p.contact
				a.btn.btn-default(ui-sref='contact') Contact Me