extends layout

block content
	doctype html(lang='en')
	head
		meta(charset='utf-8')
		title Dominic Liu
		link(rel='shortcut icon', href='/images/favicon.ico')
		script(src='/javascripts/vendor.js')
		link(rel='stylesheet', href='/stylesheets/css/vendor.css')
		link(rel='stylesheet', type='text/css', href='/stylesheets/css/style.min.css')
		link(rel='stylesheet', type='text/css', href='/javascripts/libs/lightbox/css/lightbox.css')
		script(src='/javascripts/libs/underscore-min.js')
		script(src='/javascripts/app.min.js')
		base(href="/")

	body(ng-app='app' ng-controller="appController")
		nav.navbar.navbar-default.velocity-transition-slideDownBigIn(ng-if="animationActive"
			data-velocity-opts="{ duration: 300 }")
			.container
					// Brand and toggle get grouped for better mobile display
					.navbar-header
						button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#menu')
							span.sr-only Toggle navigation
							i.fa.fa-bars
						a.navbar-brand(ui-sref='home') Dominic Liu
					// Collect the nav links, forms, and other content for toggling
					#menu.collapse.navbar-collapse
						ul.nav.navbar-nav.navbar-right
							li
								a.menu-item(ui-sref="home", ng-class="{active: isActive('/')}", ng-click="toggleNavbar()")
									span.fa.fa-home
									| &nbsp;&nbsp;Home
							li
								a.menu-item(ui-sref="skills", ng-class="{active: isActive('/skills')}", ng-click="toggleNavbar()")
									span.fa.fa-cogs
									| &nbsp;&nbsp;Skills
							li
								a.menu-item(ui-sref="portfolio", ng-class="{active: isActive('/portfolio')}", ng-click="toggleNavbar()")
									span.fa.fa-briefcase
									| &nbsp;&nbsp;Portfolio
							li
								a.menu-item(href="/Mingxi_Liu_Résumé.pdf", target="_blank", ng-click="toggleNavbar()")
									span.fa.fa-file-text
									| &nbsp;&nbsp;Résumé
							li
								a.menu-item(ui-sref="contact", ng-class="{active: isActive('/contact')}", ng-click="toggleNavbar()")
									span.fa.fa-envelope
									| &nbsp;&nbsp;Contact
		//- header
		//- 	div
		//- 		a.white(href="/") Dominic Liu
		//- 		| &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				
				
		main(ui-view="")

		script(src='javascripts/libs/webfont.js')
		script(src='javascripts/fonts.min.js')