extends layout

block content
	doctype html(lang='en')
	head
		meta(charset='utf-8')
		title Dominic Liu
		link(rel='shortcut icon', href='images/favicon.ico')
		script(src='javascripts/libs/bower_components/jquery/dist/jquery.min.js')
		script(src='javascripts/libs/bower_components/angular/angular.min.js')
		link(rel='stylesheet', href='javascripts/libs/bower_components/bootstrap/dist/css/bootstrap.min.css')
		script(src='javascripts/libs/bower_components/bootstrap/dist/js/bootstrap.min.js')
		link(rel='stylesheet', type='text/css', href='stylesheets/css/style.css')
		script(src='javascripts/libs/bower_components/moment/min/moment.min.js')
		script(src='javascripts/app.js')
		link(rel='prefetch', href='images/favicon.ico')
	body(ng-app='app')
		| Hooray!
		script(src='javascripts/libs/webfont.js')
		script(src='javascripts/fonts.js')