.top-offset
	.container
		h1
			span.fa.fa-cogs
			| &nbsp;&nbsp;Skills
		p
			input(type="text", class="form-control" ng-model="search", placeholder="Search")
		sp
		sp
		.row
			.col-sm-3.col-lg-2(ng-repeat="skill in skills | filter : searchFilter")
				.skill
					img(ng-src="/images/skills/{{skill.image}}")
					div
						h3.name {{skill.name}}
						star-rating(ng-model="skill.rating" readonly="true")
						p(ng-repeat="extra in skill.extras")
							span.fa.fa-plus
							| &nbsp;&nbsp;&nbsp;{{extra}}
						p(ng-repeat="link in skill.links")
							a(href="{{link.link}}" target="_blank")
								span.fa.fa-link
								| &nbsp;&nbsp;{{link.name}}
						p(ng-if="skill.hasWorks")
							a(href="/portfolio/?search={{skill.name}}")
								span.fa.fa-briefcase
								| &nbsp;&nbsp;Portfolio