@font-face {
	font-family: 'Lato';
	src: url('../fonts/lato/lato-lig-webfont.eot');
	src: url('../fonts/lato/lato-lig-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/lato/lato-lig-webfont.woff') format('woff'),
		 url('../fonts/lato/lato-lig-webfont.ttf') format('truetype'),
		 url('../fonts/lato/lato-lig-webfont.svg#latolight') format('svg');
	font-weight: 300;
	font-style: normal;

}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/lato/lato-reg-webfont.eot');
	src: url('../fonts/lato/lato-reg-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/lato/lato-reg-webfont.woff') format('woff'),
		 url('../fonts/lato/lato-reg-webfont.ttf') format('truetype'),
		 url('../fonts/lato/lato-reg-webfont.svg#latoregular') format('svg');
	font-weight: 400;
	font-style: normal;

}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/lato/lato-bol-webfont.eot');
	src: url('../fonts/lato/lato-bol-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/lato/lato-bol-webfont.woff') format('woff'),
		 url('../fonts/lato/lato-bol-webfont.ttf') format('truetype'),
		 url('../fonts/lato/lato-bol-webfont.svg#latobold') format('svg');
	font-weight: 700;
	font-style: normal;
}
