$white: #fff;
$gray: #ccc;
$black: #000;
$blue: #407996;
$blue-light: #90bdd4;
$default: #95a5a6;
$primary: #2c3e50;
$success: #18bc9c;
$success-darker: #128f76;
$info: #3498db;
$warning: #f39c12;
$danger: #e74c3c;

@font-face {
	font-family: 'Lato';
	src: url('../fonts/lato/lato-lig-webfont.eot');
	src: url('../fonts/lato/lato-lig-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/lato/lato-lig-webfont.woff') format('woff'),
		 url('../fonts/lato/lato-lig-webfont.ttf') format('truetype'),
		 url('../fonts/lato/lato-lig-webfont.svg#latolight') format('svg');
	font-weight: 300;
	font-style: normal;

}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/lato/lato-reg-webfont.eot');
	src: url('../fonts/lato/lato-reg-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/lato/lato-reg-webfont.woff') format('woff'),
		 url('../fonts/lato/lato-reg-webfont.ttf') format('truetype'),
		 url('../fonts/lato/lato-reg-webfont.svg#latoregular') format('svg');
	font-weight: 400;
	font-style: normal;

}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/lato/lato-bol-webfont.eot');
	src: url('../fonts/lato/lato-bol-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/lato/lato-bol-webfont.woff') format('woff'),
		 url('../fonts/lato/lato-bol-webfont.ttf') format('truetype'),
		 url('../fonts/lato/lato-bol-webfont.svg#latobold') format('svg');
	font-weight: 700;
	font-style: normal;

}

body,
input,
select,
textarea {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.wf-active {
	body,
	input,
	select,
	textarea {
		font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
}

body {
	::selection {
		background: $gray;
		color: $white;
	}

	sp {
		display: block;
		height: 5px;
	}

	a:hover,
	a:active,
	a:focus {
		text-decoration: none;
	}

	img {
		max-width: 100%;
	}

	.navbar {
		// text-align: center;
		border-bottom: 3px solid $success;
		border-radius: 0;
		overflow: hidden;
		position: fixed;
		transition: all linear .5s;
		width: 100%;
		z-index: 999;

		&.ng-enter {
			// top: -50px;
			opacity: 0;

			&.ng-enter-active {
				// top: 0;
				opacity: 1;
			}
		}

		>div {
			// padding-top: 20px;
			// padding-bottom: 20px;
			background-color: $primary;
			position: relative;

			.navbar-brand {
				color: $white;
				font-weight: 700;
			}

			.navbar-toggle {
				color: $white;
			}

			a {
				transition: color .3s;

				&.menu-item {
					// margin-right: 25px;
					color: $success;

					&:hover {
						color: $white;
					}

					&.active {
						color: $white;
					}
				}
			}
		}
	}

	main {
		text-align: center;

		.carousel-container {
			height: 100%;
			position: fixed;
			width: 100%;

			.carousel,
			.item {
				height: 100%;
			}

			.carousel-inner {
				height: 100%;
			}

			.carousel {
				height: 100%;
				overflow: hidden;
				width: 100%;

				.fill {
					background-position: center;
					background-size: cover;
					height: 100%;
					width: 100%;
				}

				.carousel-caption {
					span {
						background-color: fade-out($primary, .2);
						color: $white;
						padding: 6px 12px;
					}
				}
			}
		}

		.outer {
			display: table;
			position: absolute;
			height: 100%;
			width: 100%;
			// z-index:999;
			pointer-events: none;
		}

		.middle {
			display: table-cell;
			vertical-align: middle;
		}

		.inner {
			margin-left: auto;
			margin-right: auto;
			// width: 500px;
			z-index: 9999;
		}

		.top-offset {
			padding-top: 90px;
		}

		.portrait {
			background-position: 50%;
			background-repeat: no-repeat;
			background-size: cover;
			border: 2px solid $white;
			border-radius: 50%;
			height: 120px;
			margin: 0 auto;
			overflow: hidden;
			width: 120px;
		}

		h1 {
			margin-bottom: 20px;

			&.big-name {
				// margin-bottom: 10px;

				>span {
					background-color: fade-out($primary, .2);
					color: $white;
					padding: 6px 12px;
				}
			}
		}

		.sub {
			color: $primary;
			font-size: 1.1em;

			>span {
				background-color: fade-out($primary, .2);
				color: $white;
				padding: 4px 8px;
			}
		}

		.row {
			margin-left: -10px;
			margin-right: -10px;

			[class*='col-'] {
				padding-left: 10px;
				padding-right: 10px;
			}
		}

		.island {
			// height: 289px;
			box-shadow: -1px 2px 10px 0 rgba(0,0,0,.12);
			margin-bottom: 20px;
			text-align: left;
			
			img {
				width: 100%;
				border-bottom: 1px solid $gray;
			}

			&>div {
				font-size: 0.9em;
				padding: 10px 15px 5px 15px;

				.name {
					margin-top: 3px;
					margin-bottom: 0;
					word-wrap: break-word;
					// font-weight: bold;
				}

				p {
					margin-bottom: 5px;
				}

				a {
					transition: color 0.3s;

					&:hover {
						color: $success-darker;
					}
				}
			}
		}

		.skill {
			@extend .island;

			&>div {
				@media(min-width: 768px) {
					height: 180px;
				}

				.name {
					font-size: 22px;
				}

				star-rating ul {
					margin-top: 6px;
					margin-bottom: 10px;
				}
			}
		}

		.work {
			@extend .island;

			.zoomIn {
				cursor: zoom-in;
			}

			&>div {
				.name {
					font-size: 20px;
				}
			}
		}

		.masonry-brick {
			opacity: 0;

			&.loaded {
				opacity: 1;
			}
		}

		.row.col-bottom>div {
			margin-bottom: 10px;
		}

		span.align-to-icon {
			position: relative;
			bottom: 5px;
		}

		.ng-enter {
			position:relative;
			left: 10px;
			transition:0.3s linear all;
			opacity:0;
		}

		.ng-enter.ng-enter-active {
			opacity:1;
			left: 0;
		}

		.ng-move {
			transition: 1s linear all;
			opacity: .5;
		}

		.ng-move.ng-move-active {
			opacity:1;
		}

		.ng-leave {
			transition: .2s linear all;
			opacity:1;
		}

		.ng-leave.ng-leave-active {
			opacity:0;
		}

		.ng-enter-stagger {
		  /* this will have a 100ms delay between each successive leave animation */
		  transition-delay: 0.05s;

		  /* in case the stagger doesn't work then the duration value
		   must be set to 0 to avoid an accidental CSS inheritance */
		  transition-duration: 0s;
		}

		// ng-view animation

		// position: absolute;
		// width: 100%;
		// height: 100%;

		// &.ng-enter {
		// 	opacity:0;
		// 	transition:0.3s linear all;
		// 	z-index:8888;
		// }

		// &.ng-enter.ng-enter-active {
		// 	opacity:1;
		// }

		// &.ng-leave {
		// 	opacity:1;
		// 	transition:0.3s linear all;
		// 	z-index:9999;
		// }

		// &.ng-leave.ng-leave-active {
		// 	opacity:0;
		// }
	}

	.rating {
		margin: 0;
		padding: 0;
		display: inline-block;
		
		li {
			padding: 1px;
			color: #ddd;
			font-size: 16px;
			// text-shadow: .05em .05em #aaa;
			list-style-type: none;
			display: inline-block;
			cursor: pointer;
			&.filled {
				color: #fd0; //#21568b
			}
		}

		&.readonly li {
			cursor: auto;
		}
	}
}