$aqua-dark: #18bc9c;
$aqua-light: fade-out($aqua-dark, 0.3);

@import 'bootstrap';
@import 'bootflat';

$white: #fff;
$gray: #ccc;
$gray-dark: #bbb;
$gray-darker: #777;
$black: #000;
$blue: #407996;
$blue-light: #90bdd4;
$default: #95a5a6;
$primary: #2c3e50;
$success: #18bc9c;
$success-darker: #128f76;
$info: #3498db;
$warning: #f39c12;
$danger: #e74c3c;

@font-face {
	font-family: 'Lato';
	src: url('../fonts/lato/lato-lig-webfont.eot');
	src: url('../fonts/lato/lato-lig-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/lato/lato-lig-webfont.woff') format('woff'),
		 url('../fonts/lato/lato-lig-webfont.ttf') format('truetype'),
		 url('../fonts/lato/lato-lig-webfont.svg#latolight') format('svg');
	font-weight: 300;
	font-style: normal;

}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/lato/lato-reg-webfont.eot');
	src: url('../fonts/lato/lato-reg-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/lato/lato-reg-webfont.woff') format('woff'),
		 url('../fonts/lato/lato-reg-webfont.ttf') format('truetype'),
		 url('../fonts/lato/lato-reg-webfont.svg#latoregular') format('svg');
	font-weight: 400;
	font-style: normal;

}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/lato/lato-bol-webfont.eot');
	src: url('../fonts/lato/lato-bol-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/lato/lato-bol-webfont.woff') format('woff'),
		 url('../fonts/lato/lato-bol-webfont.ttf') format('truetype'),
		 url('../fonts/lato/lato-bol-webfont.svg#latobold') format('svg');
	font-weight: 700;
	font-style: normal;
}

body,
input,
select,
textarea {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.wf-active {
	body,
	input,
	select,
	textarea {
		font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
}

body {
	::selection {
		background: $gray;
		color: $white;
	}

	sp {
		display: block;
		height: 5px;
	}

	a:hover,
	a:active,
	a:focus {
		text-decoration: none;
	}

	img {
		max-width: 100%;
	}

	.navbar {
		background-color: $primary;
		border: 0;
		border-bottom: 3px solid $success;
		border-radius: 0;
		overflow: hidden;
		position: fixed;
		transition: all linear 0.5s;
		width: 100%;
		z-index: 999;

		&.headroom--pinned {
			transform: translateY(0%);
		}

		&.headroom--unpinned {
			transform: translateY(-100%);
		}

		&.ng-enter {
			animation: fadeInDown 1s;
		}

		>div {
			position: relative;

			.navbar-brand {
				color: $white;
				font-weight: 700;

				&:hover {
					cursor: pointer; 
				}
			}

			.navbar-toggle, .navbar-toggle:focus {
				background-color: $success;
				border-color: $success;
				color: $white;
			}

			a {
				transition: color 0.3s;

				&.menu-item {
					color: $success;

					&:hover {
						color: $white;
					}

					&.active {
						color: $white;
					}

					@media (min-width: $screen-sm-min) {
						&::before,
						&::after {
							border: 2px solid fade-out($success, 0.8);
							border-radius: 50%;
							content: '';
							height: 100px;
							left: 50%;
							opacity: 0;
							position: absolute;
							top: 50%;
							transform: translateX(-50%) translateY(-50%) scale(0.2);
							transition: transform 0.3s, opacity 0.3s;
							width: 100px;
						}

						&::after {
							border-width: 6px;
							height: 90px;
							transform: translateX(-50%) translateY(-50%) scale(0.8);
							width: 90px;
						}

						&:hover::before,
						&:hover::after {
							opacity: 1;
							transform: translateX(-50%) translateY(-50%) scale(1);
						}
					}
				}
			}
		}
	}

	main {
		text-align: center;

		.carousel-container {
			height: 100%;
			position: fixed;
			width: 100%;

			.carousel,
			.item {
				height: 100%;
			}

			.carousel-inner {
				height: 100%;
			}

			.carousel {
				height: 100%;
				overflow: hidden;
				width: 100%;

				.fill {
					background-position: center;
					background-size: cover;
					height: 100%;
					width: 100%;
				}

				.carousel-caption {
					span {
						background-color: fade-out($primary, .2);
						color: $white;
						padding: 4px 8px;
					}
				}

				.carousel-control {
					.fa-chevron-left,
					.fa-chevron-right {
						position: absolute;
						top: 50%;
						margin-top: -10px;
						z-index: 5;
						display: inline-block;
					}

					.fa-chevron-left {
						left: 50%;
						margin-left: -10px;
					}

					.fa-chevron-right {
						right: 50%;
						margin-right: -10px;
					}
				}
			}
		}

		a {
			transition: color 0.3s;
		}

		.outer {
			display: table;
			position: absolute;
			height: 100%;
			width: 100%;
			pointer-events: none;
		}

		.middle {
			display: table-cell;
			vertical-align: middle;
		}

		.inner {
			margin-left: auto;
			margin-right: auto;
			z-index: 9999;
		}

		.top-offset {
			padding-top: 70px;
		}

		.portrait {
			background-position: 50%;
			background-repeat: no-repeat;
			background-size: cover;
			border: 2px solid $white;
			border-radius: 50%;
			height: 120px;
			margin: 0 auto;
			overflow: hidden;
			width: 120px;
			position: relative;
			bottom: -40px;

			@media (max-width: $screen-xs-max) {
				width: 80px;
				height: 80px;
				bottom: -30px;
			}
		}

		h1 {
			margin-bottom: 20px;
		}

		#big-name {
			margin-left: auto;
			margin-right: auto;
			margin-top: 20px;
			width: 550px;
			height: 200px;
			margin-bottom: 20px;
			background-color: fade-out($primary, 0.2);

			@media (max-width: $screen-xs-max) {
				width: 240px;
				height: 87px;
			}
		}

		.sub {
			color: $primary;
			font-size: 1.1em;

			@media (max-width: $screen-xs-max) {
				font-size: 1em;
			}

			>span {
				background-color: fade-out($primary, 0.2);
				color: $white;
				padding: 4px 8px;
			}
		}

		.row {
			margin-left: -10px;
			margin-right: -10px;

			[class*='col-'] {
				padding-left: 10px;
				padding-right: 10px;
			}
		}

		.island {
			margin-bottom: 20px;
			text-align: left;

			.name {
				margin-top: 12px;
				margin-bottom: 0;
				word-wrap: break-word;
			}

			p {
				margin-bottom: 5px;
			}

			a {
				color: $gray-dark;

				&:hover, &:focus {
					color: $gray-darker;
				}
			}

			>table {
				font-size: 0.9em;
				width: 100%;
				border: 1px solid $white;
				transition: border-color linear 0.3s;

				&:hover {
					border: 1px solid $gray;
				}
				
				td {
					vertical-align: top;
					padding: 15px;

					&:first-child {
						width: 100px;
					}
				}
			}
		}

		.skill {
			@extend .island;

			img {
				max-width: none;
				width: 80px;
			}

			>table {
				.name {
					font-size: 18px;
					margin-top: 0;
				}

				star-rating ul {
					margin-bottom: 10px;
					margin-top: 6px;
				}

				.extras {
					color: $gray-dark;
					margin-bottom: 8px;
				}

				td:last-child {
					height: 133px;
				}
			}
		}

		.work {
			@extend .island;
			padding-bottom: 10px;

			.zoomIn {
				cursor: zoom-in;
			}

			>div {
				.name {
					font-size: 20px;
				}
			}
		}

		.masonry-brick {
			opacity: 0;

			&.loaded {
				opacity: 1;
			}
		}

		.row.col-bottom>div {
			margin-bottom: 10px;
		}

		span.align-to-icon {
			position: relative;
			bottom: 5px;
		}

		.ng-enter {
			position:relative;
			left: 10px;
			transition:0.3s linear all;
			opacity:0;

			&.ng-enter-active {
				opacity:1;
				left: 0;
			}
		}

		.ng-move {
			transition: 1s linear all;
			opacity: .5;

			&.ng-move-active {
				opacity:1;
			}
		}

		.ng-leave {
			transition: .2s linear all;
			opacity:1;

			&.ng-leave-active {
				opacity:0;
			}
		}

		.ng-enter-stagger {
			transition-delay: 0.04s;
			transition-duration: 0s;
		}
	}

	.rating {
		margin: 0;
		padding: 0;
		display: inline-block;
		
		li {
			padding: 1px;
			color: #ddd;
			font-size: 16px;
			list-style-type: none;
			display: inline-block;
			cursor: pointer;
			&.filled {
				color: #fd0; //#21568b
			}
		}

		&.readonly li {
			cursor: auto;
		}
	}
}
